html, body {
	width: 100%;
	height: 100%;
}

input[type="time"] {
	margin: -.6ex 0 0 0;
	border: none;
	outline: none;
	background: none;
	font: inherit;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type="range"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	outline: none;
	background: #aaa;
	margin: 26px 0 0 0;
	height: 1px;
}
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 13px;
	height: 13px;
	background: white;
	border: 1px solid black;
	box-sizing: border-box;
	border-radius: 100%;
}

#map {
    width: 100%;
	height: 87%;
	min-height: 450px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.side {
	width: 300px;
	position: absolute;
	z-index: 1;
}

.chrono {
	height: 100px;
	font-size: 16pt;
	font-weight: 300;
}
.day {
	float: left;
}
.time {
	float: right;
}

.about p:first-child {
	margin-top: 0;
}
.about p:last-child {
	margin-bottom: 0;
}

.filters fieldset:last-child {
	margin-bottom: 0;
}


.chart {
 width: 300px;
 height: 300px;
}

.chartwrapper {
position: absolute;
z-index: 99;
 float: right;
 background-color: #C0C0C0;
 opacity: 0.85;
 visibility: hidden;
}

.chartwrapper:hover {
	cursor: pointer;
}



.back {
	display: block;
	text-decoration: none;
	color: black;
	font-size: 24pt;
	position: fixed;
	top: 20px;
	left: 20px;
}

.content {
	margin: 0 auto;
	width: 630px;
}

.table-wrapper {
	position: fixed;
	width: calc(100% - 360px);
	height: calc(100% - 40px);
	top: 0;
	left: 320px;
	overflow: auto;
}
.table-wrapper.hidden {
	display: none;
}
.table-wrapper table {
	width: 100%;
	border-spacing: 0;
}
.table-wrapper th {
	text-align: left;
	text-transform: uppercase;
	padding-bottom: .5em;
	border-bottom: 1px solid;
}
.table-wrapper td {
	vertical-align: top;
}

.building td {
	padding-top: .5em;
	border-top: 1px dotted;
}
.building:first-child td {
	border-top: none;
}
.last td {
	padding-bottom: .5em;
}

.navbar {
	margin-top: 20px;
}

.openhouse-footer {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: left;
    background-color: #2a2730;
}

.ng-scope {
	position: relative;
}

