<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
</head>
<body>

<div class="container">
<div ng-controller="AppCtrl">
<form action="/" id="myLogin">
	Username: <input type="text" id="username" ng-model="username"><br>
	Password: <input type="text" id="password" ng-model="password"><br>
	<button type="button" ng-click="submit()">Login</button>
</form>
</div>
</div>

</body>