<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>OpenHouse</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>OpenHouse</h1>

<div class="col-md-6 col-md-offset-3" ng-controller="AppCtrl">
    <h2>Provide some information :)</h2>
    <p>OpenHouse users need to provide information about themselves in order to see information about others</p>
    <form name="form" ng-submit="addUser()" role="form">
        <div class="form-group">
            <label for="cost">What do you pay in rent?</label>
            <input type="text" name="cost" id="cost" class="form-control" ng-model="user.cost" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.zipcode.$dirty && form.zipcode.$error.required }">
            <label for="zipcode">ZipCode/Postal Code? (REQUIRED) </label>
            <input type="text" name="zipcode" id="zipcode" class="form-control" ng-model="user.zipcode" required />
            <span ng-show="form.zipcode.$dirty && form.zipcode.$error.required" class="help-block">zipcode is required</span>
        </div>
        <div class="form-group">
            <label for="landlord">Any comments on your landlord?  </label>
            <input type="landlord" name="landlord" id="landlord" class="form-control" ng-model="user.landlord" />
        </div>
        <div class="form-group">
            <label style="padding-right: 20px;" for="unitType">Type of unit? </label>
        <select type="bedrooms" name="unitType" id="unitType"  ng-model="user.unitType">
             <option value="basement">Basement</option>
             <option value="condo">Condominium</option>
             <option value="house">House</option>
       </select>
        </div>
        <div class="form-group">
            <label style="padding-right: 20px;" for="bedrooms">Bedrooms? </label>
            <select type="bedrooms" name="bedrooms" id="bedrooms"  ng-model="user.bedrooms">
             <option value=1>1</option>
             <option value=2>2</option>
             <option value=3>3</option>
             <option value=4>4</option>
             <option value=5>5</option>
             <option value=6>6</option>
             <option value=7>7</option>
             <option value=8>8</option>
             <option value=9>9</option>
          </select>
        </div>
        <div class="form-group">
            <label style="padding-right: 20px;"  for="bathrooms">Bathrooms? </label>
            <select type="bathrooms" name="bathrooms" id="bathrooms" ng-model="user.bathrooms">
              <option value=1>1</option>
             <option value=2>2</option>
             <option value=3>3</option>
             <option value=4>4</option>
             <option value=5>5</option>
             <option value=6>6</option>
             <option value=7>7</option>
             <option value=8>8</option>
             <option value=9>9</option>
            <select>
        </div>
        <div class="form-group">
            <label for="satisfied">How satisfied are you? </label>
            <input id="satisfied" type="range" name="satisfied" value="5" min="0" max="10" ng-model="user.satisfied"></td>
        </div>
        <div class="form-group">
            <label for="food">Rate the food in your area? </label>
            <input id="food" type="range" name="food" value="5" min="0" max="10" ng-model="user.food"></td>
        </div>
        <div class="form-group">
            <label for="schools">Rate the schools in your area? </label>
            <input id="schools" type="range" name="schools" value="5" min="0" max="10" ng-model="user.schools"></td>
        </div>
        <div class="form-group">
            <label for="nightlife">Rate the nightlife in your area? </label>
            <input id="nightlife" type="range" name="nightlife" value="5" min="0" max="10" ng-model="user.nightlife"></td>
        </div>
        <div class="form-group">
            <label for="transit">Rate the access to public transit in your area? </label>
            <input id="transit" type="range" name="transit" value="5" min="0" max="10" ng-model="user.transit"></td>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="user.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="angular-route.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>
