<!DOCTYPE>
<html ng-app="myApp">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <title>OpenHouse</title>
</head>
<body>
  <div class="container" ng-controller="AppCtrl">
    <h1>OpenHouse</h1>


<div class="col-md-6 col-md-offset-3" ng-controller="AppCtrl">
    <h2>Register</h2>
    <form name="form" ng-submit="addUser()" role="form">
        <div class="form-group">
            <label for="cost">What do you pay in rent?</label>
            <input type="text" name="cost" id="cost" class="form-control" ng-model="user.cost" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.zipcode.$dirty && form.zipcode.$error.required }">
            <label for="zipcode">ZipCode/Postal Code? (REQUIRED) </label>
            <input type="text" name="zipcode" id="zipcode" class="form-control" ng-model="user.zipcode" required />
            <span ng-show="form.zipcode.$dirty && form.zipcode.$error.required" class="help-block">zipcode is required</span>
        </div>
        <div class="form-group">
            <label for="unitType">Type of unit? </label>
            <input type="unitType" name="unitType" id="unitType" class="form-control" ng-model="user.unitType" />
        </div>
        <div class="form-group">
            <label for="bedrooms">Bedrooms? </label>
            <input type="bedrooms" name="bedrooms" id="bedrooms" class="form-control" ng-model="user.bedrooms" />
        </div>
        <div class="form-group">
            <label for="bathrooms">Bathrooms? </label>
            <input type="bathrooms" name="bathrooms" id="bathrooms" class="form-control" ng-model="user.bathrooms" />
        </div>
        <div class="form-group">
            <label for="landlord">Any comments on your landlord?  </label>
            <input type="landlord" name="landlord" id="landlord" class="form-control" ng-model="user.landlord" />
        </div>
        <div class="form-group">
            <label for="satisfied">How satisfied are you? </label>
            <input type="satisfied" name="satisfied" id="satisfied" class="form-control" ng-model="user.satisfied" />
        </div>
        <div class="form-group">
            <label for="food">Rate the food in the area? </label>
            <input type="food" name="food" id="food" class="form-control" ng-model="user.food" />
        </div>
        <div class="form-group">
            <label for="schools">Rate the schools in the area? </label>
            <input type="schools" name="schools" id="schools" class="form-control" ng-model="user.schools" />
        </div>
        <div class="form-group">
            <label for="nightlife">Rate the nightlife in the area? </label>
            <input type="nightlife" name="nightlife" id="nightlife" class="form-control" ng-model="user.nightlife" />
        </div>
        <div class="form-group">
            <label for="transit">Rate the access to transit in the area? </label>
            <input type="transit" name="transit" id="transit" class="form-control" ng-model="user.transit" />
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Register</button>
            <img ng-if="user.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.12/angular.min.js"></script>
<script src="angular-route.js"></script>
<script src="controllers/controller.js"></script>
</body>
</html>